@(recipes: List[models.recipes.Recipe])

@main("Recipe list") {

    <h2>All recipes</h2>
    <table class="table table-striped">
        <thead>
            <tr> <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @for(recipe <- recipes) {
            <tr>
                <td>
                    @recipe.id
                </td>
                <td>
                    @recipe.name
                </td>
            </tr>
        }
        </tbody>
    </table>
}
